@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, p, a {
  font-family: 'Inter', sans-serif;
}

/* .no-scrollbar::-webkit-scrollbar {
  display: hidden;
} */

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
}
*{
  scrollbar-width: none;
}
